
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    color: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

/* COMMON */

.large-container{   
    width: 70%;
    max-width: 1200px;

    /* debug */
    background-color: #9A9631;
    /* height: 100%; */
}

.standard-container{
    width: 50%;
    max-width: 1000px;

    /* debug */
    background-color: #FFBFBF;
    height: 100%;
}

.bg{
    background-color: #B4D0E7;
}

.btn{
    border: 0;
    padding: 8px 15px;
    cursor: pointer;
}

.primary{
    background-color: #0061FF;
}

/* UTILITIES */
.flex-container{
    display: flex;
}

.w-33{
    width: calc(100% / 3);
}

.m-0-auto{
    margin: 0 auto;
}

.f-wrap{
    flex-wrap: wrap;
}

.w-20{
    width: 20%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.p-10{

    /* debug */
    padding: 10px;
}

.no-stretch{
    align-content: flex-start;
}

.c-white{
    color: white;
}


/* HEADER */
header{

}

header nav{
    justify-content: space-between;
}

nav ul{
    padding: 15px;
    align-items: center;
    gap: 20px;
}



/* HERO */

/* HERO CONTAINER */
.hero-col{

    /* debug */
    border: 1px solid black;
    min-height: 200px;
}



/* MAIN */
main{

    /* debug */
    background-color: rgb(92, 92, 255);
    /* height: 1000px; */
}

.main-col.w-33{

    /* debug */
    background-color: #D9D9D9;
    min-height: 400px;
    border: 1px solid black;
}

.main-col.w-60{

    /* debug */
    background-color: #8D3B3B;
    min-height: 300px;
    border: 1px solid black;
}

.main-col.w-40{

    /* debug */
    background-color: #6F0000;
    min-height: 300px;
    border: 1px solid black;
}

.main-col.w-100{

    /* debug */
    background-color: #D9D9D9;
    min-height: 300px;
    border: 1px solid black;
}


/* TEAMS SECTION */
.teams{

    /* debug */
    background-color: white;

}

/* responsive square */
.square{
    width: 50%;

    /* debug */
    background-color: #093385;
    border: 1px solid white;
}

.square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}


/* FOOTER */
footer{

    /* debug */
    background-color: black;
}

.foot-col{

    /* debug */
    min-height: 200px;
    background-color: #FF00C7;
    border: 1px solid white;
}

