
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* COMMON */



/* UTILITIES */
.flex-container{
    display: flex;
}

.w-33{
    width: calc(100% / 3);
}

.large-container{   
    width: 70%;

    /* debug */
    background-color: #9A9631;
    height: 100%;
}

.m-0-auto{
    margin: 0 auto;
}

.f-wrap{
    flex-wrap: wrap;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}



/* HEADER */
header{

    /* debug */
    background-color: #FF7A00;
    height: 100px;
}

.menu{
    justify-content: space-between;

    /* debug */
    background-color: #C75F00;
    width: 100%;
    height: 100%;
}

.menu-col{

    /* debug */
    background-color: #FF0000;
    height: 100%;
}



/* HERO */
.hero{

    /* debug */
    background-color: yellow;
    height: 400px;
}

/* HERO CONTAINER */
.hero-col{

    /* debug */
    border: 1px solid black;
}

/* HERO COLUMNS */
.hero-col:first-child{
    height: 50%;

    /* debug */
    background-color: #BDFF00;
}

.hero-col:last-child{
    height: 50%;

    /* debug */
    background-color: #8EB800;
}

div .hero-col:nth-child(2){
    height: 50%;

    /* debug */
    background-color: #AADD00;
}



/* MAIN */


/* FOOTER */