
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    color: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

/* COMMON */

body{
    font-family: 'Open Sans', sans-serif;
}

section{
    padding: 40px 0px;
}

.large-container{   
    width: 70%;
    max-width: 1200px;

    /* debug */
    /* background-color: #9A9631; */
    /* height: 100%; */
}

.standard-container{
    width: 50%;
    max-width: 1000px;

    /* debug */

}

.bg{
    background-color: #B4D0E7;
}

.btn{
    border: 0;
    padding: 8px 15px;
    cursor: pointer;
}

.primary{
    background-color: #0061FF;
}

.secondary{
    background-color: white;
    border: 1px solid black;
}

/* UTILITIES */
.flex-container{
    display: flex;
}

.w-33{
    width: calc(100% / 3);
}

.m-0-auto{
    margin: 0 auto;
}

.f-wrap{
    flex-wrap: wrap;
}

.w-20{
    width: 20%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.p-10{
    padding: 10px;
}

.no-stretch{
    align-content: flex-start;
}

.c-white{
    color: white;
}

.c-blue{
    color: #0061FF;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.inline-block{
    display: inline-block;
}

.m-top{
    margin-top: 50px;
}

.p-top-20{
    padding-top: 20px;
}

/* HEADER */
header{

}

header nav{
    justify-content: space-between;
}

nav ul{
    padding: 15px;
    align-items: center;
    gap: 20px;
}



/* HERO */
.hero-col{
    padding-top: 30px;
}

.hero-col *{
    display: block;
    margin-top: 30px;
}


/* HERO CONTAINER */
h1{
    padding-top: 30px;
    font-size: 5rem;
}

#row-down{
    font-size: 40px;
    display: block;
}


/* MAIN */

/* PLANS SECTION */

#plans-section h2{
    padding: 100px 0px 50px 0px;
    font-size: 2rem;
}

.plans{
    padding-top: 40px;
    gap: 30px;
}

#plans-section .main-col{
    border: 1px solid #d3d3d3;
}

.type{
    text-align: center;
}

.body-card{
    padding: 20px;
}

.card-title *{
    display: block;
    margin-top: 15px;
}

.card-desc{
    padding-top: 20px;
}

.card-desc li{
    padding-top: 20px;
    line-height: 20px;
    gap: 10px;
}


.body-card div:nth-child(3){
    padding: 20px 0px;
    text-align: center;
}

.body-card button{
    padding: 10px 30px;
}

.body-card a{
    color: blue;
    text-decoration: underline;
}

.office{
    margin: 0;
    top: 0;
    right: 0;
}

.card-large-hr{
    border: 1px solid azure;
}

.card-small-hr{
    margin-top: 40px;
    width: 30%;
}

/* PARTNER SECTION */

#partner-section .w-40{
    padding: 50px;
}

#partner-section button{
   margin-top: 20px;
}


/* TEAMS SECTION */
.teams{

    /* debug */
    background-color: white;

}

/* responsive square */
.square{
    width: 50%;

    /* debug */
    background-color: #093385;
    border: 1px solid white;
}

.square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}


/* FOOTER */
footer{

    /* debug */
    background-color: black;
}

.foot-col{

    /* debug */
    min-height: 200px;
    background-color: #FF00C7;
    border: 1px solid white;
}

